---
import { Link } from "astro-link";

const data = Astro.props;
import { PortableText } from "astro-portabletext";

console.log("Blog layout", data);
---

<section class="portfolio-section container mx-auto font-Roboto">
  <div class="grid md:grid-cols-3 grid-cols-1 gap-4 mt-10 py-3 px-3">
    {
      data?.blogData?.map((blogItem) => {
        console.log("itemS:", blogItem);
        return (
          <>
            <div>
              {" "}
              <Link
                href={`/blogs/${blogItem.slug?.current}`}
                externalInNewTab={true}
              >
                <div class="max-w-full rounded overflow-hidden bg-white">
                  <img
                    class="w-full"
                    src={`${blogItem?.BackgroundImage?.asset?.url}`}
                    alt=""
                  />
                  <div class="px-6 py-4">
                    <div class="font-extrabold text-lg mb-2">
                      {blogItem?.projectName}
                    </div>
                    <div class="py-4">
                      <PortableText
                        class="text-sm mb-2 font-Roboto blog-content"
                        value={blogItem?.excerpt}
                      />
                    </div>
                  </div>
                </div>
              </Link>
            </div>
          </>
        );
      })
    }
  </div>
</section>
