---
import { useSanityClient, groq } from "astro-sanity";
import { PortableText } from "astro-portabletext";
const query = groq`*[_type == "projects"]{
        ...,
        BackgroundImage{
      asset->{
        url
      }
      },
    }`;

const blogquery = groq`*[_type == "blogs"]{
       ...,
       FeatureImage{
      asset->{
        url
      }},
    }`;

const projectData = await useSanityClient().fetch(query);
const blogData = await useSanityClient().fetch(blogquery);
---

<section class="home-section px-4 font-Roboto h-screen w-auto">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:gap-2 gap-12 text-center justify-center ">
      <div
        class="text-primaryColor about_section border-e-red-50 flex flex-col items-center justify-center lg:p-24 p-0 m-10 md:m-18 font-Roboto"
      >
        <h1 class="text-4xl py-2">Hii, This Is Tanuj</h1>
        <p class="text-3xl py-2">Frontend Developer!</p>
        <button
          type="button"
          class="btn btn-primary text-secondaryColor text-2xl py-3 hover:text-slate-400"
          onclick="downloadResume()"
        >
          Get Resume
        </button>
      </div>
    </div>

    <div class="projects h-full container mx-auto  text-white my-10 py-10">
      <div class="flex justify-between items-center">
        <h1
          class="text-white font-Roboto md:text-xl text-sm font-normal pt-8 pb-6"
        >
          My Projects
        </h1>
        <div class="max-w-sm border-gray-200 rounded-lg">
          <a
            href="/projects"
            class="font-Roboto md:text-xl text-sm font-normal pt-8 pb-6 hover:text-slate-400"
            >View All</a
          >
        </div>
      </div>

      <div class="grid md:grid-cols-3 grid-cols-1 gap-3">
        {
          projectData?.map((projectItem) => (
            <div class=" h-auto  rounded-lg projects-card overflow-hidden shadow-lg hover:mx-1 hover:shadow-xl transition-transform duration-1000 transform hover:scale-105">
              <img
                  class="w-full h-52 mb-8"
                  src={`${projectItem?.BackgroundImage?.asset?.url}`}
                />
              <div class="px-4 py-4 mt-4">
               

                <h5 class="mb-2 text-lg font-sans  font-bold text-primaryColor">
                  {projectItem?.projectName}
                </h5>

                <PortableText
                  class="text-sm font-Roboto text-secondaryColor"
                  value={projectItem?.excerpt}
                />

                <a
                  href={`/projects/${projectItem.slug.current}`}
                  class="inline-flex items-center px-3 py-2 mt-6 text-sm font-medium text-center text-white bg-buttonBg rounded-lg hover:bg-slate-500  hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Read more
                  <svg
                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="blogs h-screen container mx-auto text-white my-10 py-10">
      <div class="flex justify-between items-center">
        <h1 class="text-white font-Roboto md:text-lg text-sm pt-8 pb-6">
          Blogs
        </h1>
        <div class="max-w-sm border-gray-200 rounded-lg">
          <a
            class="font-Roboto md:text-lg text-lg font-normal hover:text-slate-400"
            href="/blogs">View All</a
          >
        </div>
      </div>

      <div class="grid md:grid-cols-3 grid-cols-1 gap-3">
        {
          blogData?.map((blogItem) => (
          <div class="projects-card h-full flex flex-col  rounded-lg overflow-hidden shadow-lg hover:mx-1 hover:shadow-xl transition-transform duration-1000 transform hover:scale-105">
              <img
                class="rounded-t-lg w-full h-52"
                src={`${blogItem?.FeatureImage?.asset?.url}`}
                alt=""
              />
              <div class="p-5">
                <h5 class="mb-2 text-lg font-sans font-bold tracking-tight text-primaryColor ">
                  {blogItem?.projectName}
                </h5>
                <div
                  class="text-sm mb-2 text-gray-900 overflow-hidden"
                  style="max-height: 6rem;"
                >
                  <PortableText
                    class="text-sm mb-2 text-secondaryColor"
                    value={blogItem?.excerpt}
                  />
                
                </div>

                <a
                  href={`/blogs/${blogItem.slug.current}`}
                  class="inline-flex items-center px-3 mt-3 py-2 text-sm font-medium text-center text-white bg-buttonBg rounded-lg hover:bg-slate-500  hover:text-black focus:ring-4 focus:outline-none "
                >
                  Read more
                  <svg
                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script is:inline>
  function downloadResume() {
    const resumeUrl = "/Resume.pdf"; // Adjust the path based on your actual file structure

    // Create a link element
    const link = document.createElement("a");
    link.href = resumeUrl;
    link.target = "_blank"; // Open in a new tab
    link.download = "resume.pdf"; // Set the desired name for the downloaded file

    // Append the link to the body
    document.body.appendChild(link);

    // Trigger a click on the link to start the download
    link.click();

    // Remove the link from the body
    document.body.removeChild(link);
  }
</script>
